<%= simple_form_for @exhibit do |f| %>
  <% if @exhibit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibit.errors.count, "error") %> prohibited this exhibit from being saved:</h2>

      <ul>
      <% @exhibit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, label: 'Name:', error: 'Whoops! We need a name here :)', wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } %>
   <label>URL Slug</label>
  <code><%= @exhibit.slug %></code>
  <%= link_to 'Regenerate Slug', regenerate_slug_exhibit_path(@exhibit.id), :method => :put, :type => "button", :class => "btn btn-default", data: { confirm: 'Woah there! This will change any links currently set to /' + @exhibit.slug + ' to a slug based on the latest name: ' + @exhibit.name } %>
  <%= f.input :description, label: 'Description:', error: 'Whoops! We need a description here :)', wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } %>
  <%= f.association :organization, wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } %>

  <p class="help-block">If the organization you're looking for is not availbale, please create one before creating or updating your Exhibit | <%= link_to 'Create Organization',new_organization_path, :class => "btn btn-default"  %></p> 

  <label for="exampleInputFile">Exhibit Header Image Upload:</label>
  <%= f.file_field :image, inline_label: 'Logo Image:', error: 'Whoops! We need an image here :)', :class => "trailer" %>
 
  <%= f.button :submit, :class => "btn-success" %>

<% end %>
