<p id="notice"><%= notice %></p>

<%= link_to 'Back', exhibits_path %> |
<%= link_to 'Edit', edit_exhibit_path(@exhibit) %>


<h1><%= @exhibit.name %></h1>
<h3><%= @exhibit.description %></h3>
<h3><%= @exhibit.organization_id %></h3>
 <%= image_tag @exhibit.image.url(:medium) %>

<div class="tilegrid">

<% @exposts.each do |post| %>

	<div class="tile">
	<h3><%= link_to post.title, post_path(post) %></h3>

		<%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
	</div>

<% end %>