<%= simple_form_for @path, :html => { :multipart => true } do |p| %>
  <%= p.text_field :title %>
  <%= p.text_area :description %>

    <%= p.simple_fields_for :images do |ph| %>
  

    	<% if ph.object.new_record? %>
      	<p>form</p>
 		
        <%= ph.file_field :photo %>
        
        <% else %>
         <%= image_tag ph.object.send :photo %>
           <% end %>	
    <% end %>

  <%= p.button :submit %>
<% end %>

