

<p id="notice"><%= notice %></p>

<div class="col-md-8">

<%= link_to 'Back', exhibits_path %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @exhibit.name %> Posts</h3>
  </div>
  <div class="panel-body">

  <%= link_to 'New Post', new_exhibit_post_path, :class => "btn btn-success" %>
    <h1>Listing Posts</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.description %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>


</div>
