<% if current_user.try(:admin?) %>
	<div class="col-md-12">
		<div class="alert alert-info admin" role="alert"><strong>Admin Actions:</strong> These functions are only available to site admins.  

			<div class="btn-group" role="group" aria-label="...">

				<%= link_to @exhibit.name + ' Exhibit', exhibit_path(@exhibit), :type => "button", :class => "btn btn-default"  %>
				<%= link_to @exhibit.name + ' Exhibit Admin', exhibit_posts_path(@exhibit), :type => "button", :class => "btn btn-default"  %>
				<%= link_to 'Edit Post', edit_post_path(@post), :type => "button", :class => "btn btn-warning" %> 
				<%= link_to 'Destroy Post', @post, :type => "button", :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>

			<p id="notice"><%= notice %></p>

		</div>
	</div>

<% else %>
<% end %>



<div class="col-md-12">


	<div class="nav-links">
		<%= link_to 'Pin it', "http://pinterest.com/pin/create/button/?url=" + request.original_url + "&amp;description=Check+out+the+hear+me+exhibit..." %> 

		<%= link_to 'Tweet it', "http://twitter.com/share?url=" + request.original_url + "&amp;text=Check+out+Hear+Me:+Your+story+through+tattoos...&amp;hashtags=#hearme" %> 
		<%= link_to 'Share on FB', "http://www.facebook.com/share.php?u=" + request.original_url %>
	</div>

	<div class="center homelogo">
			<%= link_to (image_tag @exhibit.image.url(:medium)), exhibit_path(@exhibit) %>
	</div>

</div>

<div class="col-md-12">
	<h1><%= @post.title %></h1>
</div>


<div class="col-md-8">

	<ul class="bxslider">
		<% @postimages.each do |image| %>
			<li><%= image_tag image.photo.url(:medium) %></li>
		<% end %>
	</ul>

		<div id="bx-pager">
		<% @postimages.each_with_index do |image, index| %>
	 		<a data-slide-index="<%= index %>" href=""><%= image_tag image.photo.url(:thumb) %></a>
	 	<% end %>
	</div>

</div>
<div class="col-md-4">
<p><%= @post.description %></p>	
</div>

<div class="col-md-12">

	<div class="clear header">
		<h3>About Us</h3>
		<div class="small-header tailer">
			<%= image_tag @organization.image.url(:thumb), :class => "left margin-r"  %>
			<h2 class="margin-clear"><%= @organization.name %></h2>
			<p><%= @organization.description %></p>
		</div>
	</div>
</div>

