<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

 <%= image_tag @post.image.url(:medium) %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', exhibit_posts_path(@exhibit) %>
