
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Logo Image</th>
      <th>Org Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.description %></td>
        <td> <%= image_tag organization.image.url(:thumb) %></td>

        <td>
          <div class="btn-group trailer" role="group" aria-label="...">
            <%= link_to 'Edit', edit_organization_path(organization), :type => "button", :class => "btn btn-warning" %>
            <%= link_to 'Delete', organization, :type => "button", :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>